<!-- 21.47 vedio invert function in css used to change color of img black, white option only  -->
<!DOCTYPE html>
<html lang="en">

{{>header}}

<link rel="stylesheet" href="css\style.css">

<body>
    {{>navbar}}
    <main>
       <div class="container">
            <h4 class="set" id="set-1">About Us</h4>
            <p>Hello! My name is Afroz Shah and I'm a web developer based in Mumbai, India. I have a passion for building responsive and user-friendly websites. With several years of experience in the industry, I have developed a strong foundation in web development technologies and practices.</p>
            <p>Throughout my career, I have worked on various projects, ranging from small business websites to complex web applications. I am proficient in HTML, CSS, JavaScript, and have hands-on experience with frameworks such as React and Angular.</p>
            <p>I believe in the power of collaboration and always strive to work closely with clients to understand their needs and deliver high-quality solutions. I am a strong advocate for clean and maintainable code and follow industry best practices to ensure efficient and scalable development.</p>
            <p>When I'm not coding, you can find me exploring new technologies, attending tech conferences, and contributing to open-source projects. I am a lifelong learner and continuously stay updated with the latest trends and advancements in web development.</p>
            <p>If you have a project in mind or would like to discuss how I can help you, please feel free to contact me I'm always excited to take on new challenges and create impactful web experiences.</p>
        </div>
    </main>
</body>

</html>