<!-- 21.47 vedio invert function in css used to change color of img black, white option only  -->
<!DOCTYPE html>
<html lang="en">

{{>header}}

<link rel="stylesheet" href="css\style.css">

<body>
    {{>navbar}}
    <main>
       <div class="container">
            <h4 class="set" id="set-1">Contact Us On following</h4>
            <p><a href="https://www.linkedin.com/in/mohd-afroz-shah-a50020230">Linkdin</a></p>
        </div>
    </main>
</body>

</html>