<!-- 21.47 vedio invert function in css used to change color of img black, white option only  -->
<!DOCTYPE html>
<html lang="en">

{{>header}}

<link rel="stylesheet" href="css\style.css">

<body>
    {{>navbar}}
    <main>
       <div class="container">
            <h4 class="set" id="set-1">Tired of Being ugly & Fat</h4>
            <h3 class="set">Just be ugly, Join the gym now</h3>
            <div class="ctn-btn">
                <button class="bst" ><a href="/register">Register</a></button>
            </div>
        </div>
    </main>
</body>

</html>