<header>
    <div class="left">
        <div class="img">
            <img src="img/gym7.jpg" alt="Logo">
        </div>
        <div class="text">
            Pump House
        </div>
    </div>
    <div class="main">
        <ul class="navbar">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/progress">Progress</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="right">
        <button ><a class="b" href="/login">Login</a></button>
        <button ><a class="b" href="/logout">Logout</a></button>
        <button ><a class="b" href="/register">Register</a></button>
    </div>
</header>